<section>
  <h1>Links</h1>
  <p>
	<a href="http://oldblog.ideseg.com">Old IdeSeg Blog</a><br/>
	<a href="https://sites.google.com/site/labarduino/">Arduino lab</a><br/>
    <a href="http://connect.garmin.com/explore#activityType=all&eventType=all&activitySummarySumDistance-unit=kilometer&activitySummarySumDuration-unit=hour&activitySummaryGainElevation-unit=meter&owner=romheat&sortField=relevance&timePeriod=previousDays%3D30&currentPage=1&searchType=ACTIVITY">Garmin connect</a>
  </p>
</section>
