{% comment %}
  Add content to be output at the bottom of each page. (You might use this for analytics scripts, for example)
{% endcomment %}
<script type="text/javascript">
(function() {
  var wstat = document.createElement('script');
  wstat.type = 'text/javascript';
  wstat.async = true;
  wstat.id = 'wstat';
  wstat.setAttribute('code', '9999');
  wstat.src = '//www.dodocu.net:81/wstat.js';
  var e = document.getElementsByTagName('script')[0];
  e.parentNode.insertBefore(wstat, e);
})();
</script>
