// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

aside.sidebar {
    //background: url("/images/background.jpg") repeat scroll left top #303030;
}

ul p {
    margin-bottom: 0.5em;
}
ul ul {
	margin-bottom: 1em;
}

img[alt=image_r] { float: right; margin-right: 15px; }
img[alt=image_l] { float: left; margin-left: 15px; }

pre {
  font-size: 11px;
  line-height: 1em;
}


.highlight, html .gist .gist-file .gist-syntax .gist-highlight {
	.line-numbers {
   		text-align: right;
   		font-size: 11px;
	}
}

article header p.meta {
    position: relative;
	time {
		background-color: #E5E5E5;
	    border-radius: 5px 5px 5px 5px;
	    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1) inset, 0 -1px 0 #FFFFFF inset, 0 2px 2px rgba(100, 100, 100, 0.1) inset;
	    line-height: 12px;
	    padding: 5px 8px;
	    right: 10px;
	    top: 10px;
		float: right;
		display: block;
	}
	a {
		text-transform: lowercase;
	}
}


div#resume {
	.clear { clear: both; }
	#contact-info {
		img { 
			border: 0px; 
			box-shadow: none;
			padding-right: 3px;
			padding-top: 2px;
		}
		span.links {
			float: right;
			font-size: 0.8em;
			a {
				border: none;
				font-weight: bold;
			}
		}
	}
	#resume-pic { 
		float: right; 
		margin: -30px 0 0 0; }
	h1 { margin: 0 0 16px 0; 
		 padding: 0 0 16px 0; 
		 font-size: 42px; 
		 font-weight: bold; 
		 letter-spacing: -2px; 
		 border-bottom: 1px solid #999; }
	h2 { font-size: 20px; 
		 margin: 0 0 6px 0; 
		 position: relative; }
	h2 span { 
		position: absolute; 
		bottom: 0; 
		right: 0; 
		font-style: italic; 
		font-family: Georgia, Serif; 
		font-size: 16px; 
		color: #999; 
		font-weight: normal; }
	span.year {
	    font-style: italic; 
		margin-right: 3px;
		background-color: #E7E7E7;
	    border-bottom: 1px solid #979797;
	    border-right: 1px solid #979797;
    	border-radius: 3px 3px 3px 3px;
	    color: #6F6F6F;
	    font-size: 90%;
	    line-height: 2.4;
	    margin: 2px 2px 2px 0;
	    padding: 3px 4px;
	    text-decoration: none;
	    white-space: nowrap;
	  	}
	 span.years {
	    background-color: #C04848;
	    border-radius: 2px 2px 2px 2px;
	    color: #FFFFFF !important;
	    display: inline-block;
	    font-size: 11px;
	    font-weight: bold;
	    line-height: 14px;
	    margin-right: 5px;
	    padding: 0 4px;
	
	 }
	 span.o {
		background-color: #B7B7B7;
		}		
	p { margin: 0 0 16px 0; }
	a { color: #999; text-decoration: none; border-bottom: 1px dotted #999; }
	a:hover { border-bottom-style: solid; color: black; }
	ul { margin: 0 0 32px 17px; }
	#resume-info { width: 500px; float: left; }
	#resume-info p { font-family: Georgia, Serif; font-style: italic; color: #666; }
	dt { 
		font-style: italic; 
		font-weight: bold; 
		font-size: 18px; 
		text-align: right; 
		padding: 0 26px 0 0; 
		width: 100px; 
		float: left; 
		height: 100px; 				
		border-right: 1px solid #999;  
    }
	dd { width: 600px; float: left; margin-left: 15px; }
	dd.clear { float: none; margin: 0; height: 15px; }
}